 {% comment %} 
/////
STEP 1 - SET AVAIL DATE AND LEAD TIME. 
CHANGE AVAIL DATE WHEN AN ITEM SELLS OUT. 
/////
{% endcomment %} 

	 {% comment %}  CUPCAKE DATE: YEAR/MONTH/DAY {% endcomment %}  
	{% assign cupcake_avail_date = "2023/05/14 00:01" | date: '%s' %}
	{% assign cupcake_lead_time = 0 %}
	{% assign cupcake_tag = "Cupcakes" %} 

	 {% comment %}  MINI CUPCAKE DATE: YEAR/MONTH/DAY {% endcomment %}  
	{% assign mini_cupcake_avail_date = "2023/01/25 00:01" | date: '%s'%}
	{% assign mini_cupcake_lead_time = 0 %}
	{% assign mini_cupcake_tag = "Mini Cupcakes" %} 

	 {% comment %}  CAKEBALL DATE: YEAR/MONTH/DAY {% endcomment %}  
	{% assign cake_ball_avail_date = "2023/01/19 00:01" | date: '%s'%}
	{% assign cake_ball_lead_time = 0 %}
	{% assign cake_ball_tag = "Cakeballs" %} 

	  {% comment %}  COOKIE DATE: YEAR/MONTH/DAY {% endcomment %}  
	{% assign cookie_avail_date = "2023/01/05 00:01" | date: '%s'%}
	{% assign cookie_lead_time = 0 %}
	{% assign cookie_tags = "cookies" %} 

	 {% comment %}  DONUT DATE: YEAR/MONTH/DAY {% endcomment %}  
	{% assign donut_avail_date = "2023/01/25 00:01" | date: '%s'%}
	{% assign donut_lead_time = 0 %} 

	 {% comment %}  STANDARD CAKE DATE: YEAR/MONTH/DAY {% endcomment %}  
	{% assign std_cake_avail_date = "2023/06/28 00:01" | date: '%s'%}
	{% assign std_cake_lead_time = 0 %} 

	 {% comment %}  3 DAY DATE: YEAR/MONTH/DAY {% endcomment %}  
	{% assign three_day_avail_date = "2023/06/15 00:01" | date: '%s'%}
	{% assign three_day_lead_time = 64 %} 
	{% assign three_day_lead_time_days = 3 %} 

	 {% comment %}  5 DAY DATE: YEAR/MONTH/DAY {% endcomment %}  
	{% assign five_day_avail_date = "2023/02/15 00:01" | date: '%s'%}
	{% assign five_day_lead_time = 86  %}
	{% assign five_day_lead_time_days = 5  %} 

	 {% comment %}  110 is normal!  {% endcomment %}  

	 {% comment %}  SOLDOUT DATE: YEAR/MONTH/DAY {% endcomment %}  
	{% assign sold_out_avail_date = "2023/01/28 00:01" | date: '%s'%}
	{% assign sold_out_lead_time = 0 %} 

	 {% comment %}  EDIBLE IMAGE DATE: YEAR/MONTH/DAY {% endcomment %}  
	{% assign edible_image_avail_date = "2023/01/05 00:01" | date: '%s'%}
	{% assign edible_image_lead_time = 2  %} 






 
{% comment %} 
/////
STEP 2 - AN ARRAY OF THE DATA IS CREATED TO LOOP THROUGH 
/////
{% endcomment %}


    {% capture product_title_and_avail_dates %}
      cupcake|{{cupcake_avail_date}}|{{cupcake_lead_time}},
      mini_cupcake|{{mini_cupcake_avail_date}}|{{mini_cupcake_lead_time}},
      cake_ball|{{cake_ball_avail_date}}|{{cake_ball_lead_time}},
      cookie|{{cookie_avail_date}}|{{cookie_lead_time}},
      donut|{{donut_avail_date}}|{{donut_lead_time}},
      std_cake|{{std_cake_avail_date}}|{{std_cake_lead_time}},
      three_day_tag|{{three_day_avail_date}}|{{three_day_lead_time}},
      five_day_tag|{{five_day_avail_date}}|{{five_day_lead_time}},
      sold_out_tag|{{sold_out_avail_date}}|{{sold_out_lead_time}},
      edible_image|{{edible_image_avail_date}}|{{edible_image_lead_time}}
      
    {% endcapture %}
    {% assign product_title_and_avail_dates =  product_title_and_avail_dates | split: ',' %}







{% comment %} 
/////
STEP 3 - FIND TODAYS DATE 
/////
{% endcomment %}


 {% capture date_now2 %}{{'now' | date: "%b %d, %Y"}} 10:00:01 AM{% endcapture %}
 {% assign date_now = date_now2  | date: '%s' %}


{% comment %} DATE TESTING {% endcomment %}

{% comment %}  
 		{% capture date_now %}{{'2022/11/30 11:00' | date: '%s'}}{% endcapture %}
  {% endcomment %}






{% comment %} 
/////
STEP 4 - THE MAIN LOOP. PROCESS DATES
/////
{% endcomment %}





{% comment %} 
/////
STEP 4.1 - LOOP MAIN ARRAY. GET VARIABLES
/////
{% endcomment %}

{% comment %}  LOOP THE MAIN ARRAY{% endcomment %} 
{% for single_product_title_and_avail_date in product_title_and_avail_dates %}
  
{% comment %} //single_product_title_and_avail_date: {{single_product_title_and_avail_date}} <br>{% endcomment %} 

  {% assign counter = 1 %}
  {% comment %}  LOOP THE SECOND/ITEM ARRAY{% endcomment %} 

  {% assign product_details_array =  single_product_title_and_avail_date | split: '|' %}
	{% for product_details in product_details_array %}

	{%if counter == 1 %}
		{% assign product_title = product_details %}
	   {% comment %} //{{product_title}} - title<br>{% endcomment %} 

	{% elsif counter == 2 %}
		{% assign product_avail_date = product_details | plus: 0 %}
		{% comment %} //{{product_avail_date}} - date<br>{% endcomment %} 

	{% elsif  counter == 3 %}
		{% assign product_lead_time = product_details %}
		{% comment %} //{{product_lead_time}} - available hours<br> {% endcomment %} 
	{% else %}
		error
	{% endif %}
	{% assign counter = counter | plus: 1 %}

{% endfor %}



{% comment %}  

    PREVIOUS ATTEMPTS AT BEING SMARTER.
    TRYING TO TAKE THE TODAY + THE LEAD TIME = AVAIL DATE
    BACKWARD CALC AVAIL DATE AT 7AM TO NOW, THAT IS THE NEW LEAD TIME. 
    IT WON'T FUCKING WORK
    

    /// HERE IS LIES FOR ANOTHER DAYS ATTEMPT ///
    
////////////////////////<br> 
 {{product_title}}<br>
product_lead_time: {{product_lead_time}}// <br><br>
 {{ date_now | date: "%a, %b %d, %Y %I %M" }} | today  <br>
 {{ product_lead_time | times: 3600 | plus: date_now | date: "%a, %b %d, %Y %I %M"}} | new avail date <br>
    
    {% capture product_date %}{{product_lead_time | times: 3600 | plus: date_now | date: "%a, %b %d, %Y"}} 06:00:02 AM{% endcapture %}<br>
      ||{{ product_date | date: "%s" }}|| move to 6am on the avail date<br>
    ||{{ product_date | date: "%a, %b %d, %Y %I %M"}}|| that date/time<br>

    ||{{ product_date | date: "%s" }}||<br>
    ||{{ date_now| date: "%s" }}||<br>

    {% assign product_date_sec = product_date | date: "%s" %}
    {% assign date_now_sec = date_now | date: "%s" %}

    ||{{ product_date_sec}}|| produ date<br>
    ||{{ date_now_sec }}|| date now <br>

    
    {% assign new_lead_time =  product_date_sec | minus: date_now_sec %}
    new_lead_time::  {{ new_lead_time }} <br>
    new_lead_time sec::  {{ new_lead_time | divided_by: 3600  }} <br>
     {% assign product_lead_time1 = new_lead_time %}
   {{  product_date | minus: date_now | date: "%s" }}!<br>


    /// END ATTEMPT ///
    {% endcomment %}
 




{% comment %} 
/////
STEP 4.2 - FIGURE OUT DATES AND DELAYS
/////
{% endcomment %}


	{% assign avail_date_diff = product_avail_date | minus: date_now | minus: 7 %} <!-- COMPARE DATE AVAIL TO NOW - [SECONDS] -->
	{% assign product_lead_time_sec = product_lead_time | times: 3600 %} <!-- CONVERT PRODUCT LEAD TIME TO SECONDS -->
	{% assign lead_time_date =  date_now | plus: product_lead_time_sec  %} <!-- CALC THE LEAD TIME DATE - SECONDS -->
	{% assign lead_time_difference = product_lead_time_sec | minus: avail_date_diff  %} <!-- COMPARE PRODUCT LEAD TIME TO DIFF BETWEEN NOW AND PRODUCT AVAIL DATE [SECONDS] -->


{% if avail_date_diff < 0 %}
		{% assign status = "normal" %}
		{% assign type = "pass through, OK" %} 
		{% assign order_date = date_now | plus: product_lead_time_sec %}
		{% assign step = "A1" %}
		{% assign calcd_avail_hours = product_lead_time | plus: 0 %}

{% else %}
	{% if lead_time_difference > 0 %}
		{% assign status = "normal"%}
		{% assign type = "alert expired - regular availability" %}
		{% assign order_date = date_now | plus: product_lead_time_sec %}
		{% assign step = "A2" %}
		{% assign calcd_avail_hours = product_lead_time | plus: 0 %}
	{% else %}
		{% assign status = "alert"%}
		{% assign type = "active delay, products delayed " %}
		{% assign order_date = product_avail_date %}
		{% assign step = "A3" %}
		{% assign calcd_avail_hours = avail_date_diff | divided_by: 3600 %}

	{% endif %}

{% endif %}

  
{% comment %} CALC THE FIRST AVAILABLE DATES, ADJUST FOR SUNDAY AND MONDAY  {% endcomment %}  	 
  
  		{% assign order_date_day = order_date | date: "%a" %}
		{%if order_date_day == "Sun" %}
			{%assign order_date = order_date | plus:  172800 %}
			{%assign new_day = "Tuesday" %}	
		{%elsif order_date_day == "Mon" %} 
			{%assign order_date = order_date | plus: 86400 %}
			{%assign new_day = "Tuesday" %}	
		{% else %}
			{%assign new_day = "same" %}	

			<!--NOTHING -->
		{% endif %}
	


 

{% comment %} 

/////
STEP 4.3 - TESTING/TROUBLESHOOTING

{% endcomment %}

         {% comment %} TESTING SECTION! {% endcomment %}
         {% comment %} TESTING SECTION! {% endcomment %}
         {% comment %} TESTING SECTION! {% endcomment %}



        {% comment %} UNCOMMENT THIS SECTION TO OPEN THE HOOD {% endcomment %}
    
{% comment %}   {% endcomment %} 

        {% assign product_title = product_title | strip %}  
        {% if request.page_type == "collection" %} 
        {% if product_title == "cust_cake" or product_title == "semi_cake" or product_title == "std_cake" or product_title == "cookie"  %}


        <div style="color: blue;">
        <span style="color: orange;">/// START FOR TESTING /// </span><br><br>

        TITLE: <span style="color: red;"> {{product_title}} </span> <br>
        Product_avail_date ({{product_avail_date | divided_by: 86400}} days) - date_now ({{date_now| divided_by: 86400}} days) =  avail_date_diff ({{avail_date_diff| divided_by: 3600}} hours) <!-- COMPARE DATE AVAIL TO NOW - [SECONDS] -->
         - negative # means good, positive number<br>
        product_lead_time ({{product_lead_time_sec | divided_by: 3600}} hours) - avail_date_diff ({{avail_date_diff | divided_by: 3600}} hours) = lead_time_difference ({{lead_time_difference | divided_by: 3600}} hours) <!-- COMPARE PRODUCT LEAD TIME TO DIFF BETWEEN NOW AND PRODUCT AVAIL DATE [SECONDS] -->
        <br><br>
        <span style="color: red;"> {{date_now  | date: "%D %R"}}</span> - DATE TODAY:<br>
        <span style="color: red;"> 	{{lead_time_date  | date: "%D %R"}}	</span> -  DATE WITH LEAD TIME: <span style="color: red;">{{product_lead_time}} </span> - LEAD TIME HOURS<br>
        <span style="color: red;"> 	{{product_avail_date | date: "%D %R"}}	</span> - AVAIL DATE: <span style="color: red;">{{avail_date_diff | divided_by: 3600}} </span> - DIFF HOURS <br>
        Status: <span style="color: red;"> {{ status}}</span><br>
        Type: <span style="color: red;"> {{type}} </span><br>
        Order_date: <span style="color: red;"> {{order_date | date: "%D %R"}}</span><br>
        Calcd_avail_hours: <span style="color: red;"> {{calcd_avail_hours}}</span><br>
        Step: <span style="color: red;"> {{step}} </span><br>
        Lead_time_difference: <span style="color: red;"> {{lead_time_difference | divided_by: 3600}} </span><br>
        Order Date Day: <span style="color: red;"> {{order_date_day}}</span><br>
        Order New Day: <span style="color: red;"> {{new_day}}</span><br>

        <br><br><br>  
             {% endif %}
          {% endif %}
         {% comment %} // END TESTING SECTION! {% endcomment %}
         {% comment %} // END TESTING SECTION! {% endcomment %}




    
  {% comment %} 

/////
STEP 4.4 - EXIT VAIRABLES

{% endcomment %}

  


          
{% endfor %}

  {% comment %} 

/////
STEP 5 - MAX CART DELAY: FIND MAX VAL FROM ALL CART ITEMS AND SEND ONE VALUE TO THE ZAPIET

{% endcomment %}


{% assign cc_tag = "" %}
{% assign mcc_tag = "" %}
{% assign cb_tag = "" %}
{% assign co_tag = "" %}  
{% assign st_tag = "" %}
{% assign dn_tag = "" %}   
{% assign so_tag = "" %} 
{% assign td_tag = "" %}        
{% assign fd_tag = "" %} 
{% assign ei_tag = "" %} 


<!--{{ cartitems }}--> 


<!-- !//{{prodtags}}//! --> 
  
{% assign max_lead_time = 0 %}
                 
{% for item in cart.items %}
{% comment %} {{ item.product.tags }}{% endcomment %} 
{% assign max_lead_time = max_lead_time | plus: 0 %}
  
   {% if prodtags contains 'Cupcakes' and cc_tag == ""  %}
      {% assign cc_tag = "CC" %}
        {% if cupcake_lead_time_final > max_lead_time  %}
            {% assign max_lead_time = cupcake_lead_time_final %}
        {% endif %}
    {% endif %}

   {% if prodtags contains 'Mini Cupcakes' and mcc_tag == ""  %}
      {% assign mcc_tag = "MCC" %}
        {% if mini_cupcake_lead_time_final > max_lead_time  %}
            {% assign max_lead_time = mini_cupcake_lead_time_final %}
        {% endif %}
    {% endif %}


   {% if prodtags contains 'cakeball' and cb_tag == ""  %}
      {% assign cb_tag = "CB" %}
        {% if cake_ball_lead_time_final > max_lead_time  %}
            {% assign max_lead_time = cake_ball_lead_time_final %}
        {% endif %}
    {% endif %}

   {% if prodtags contains 'cookies' and co_tag == ""  %}
      {% assign co_tag = "CO" %}
        {% if cookie_lead_time_final > max_lead_time  %}
            {% assign max_lead_time = cookie_lead_time_final %}
        {% endif %}
    {% endif %}

   {% if prodtags contains 'donut' and dn_tag == ""  %}
      {% assign dn_tag = "DN" %}
        {% if donut_lead_time_final > max_lead_time  %}
            {% assign max_lead_time = donut_lead_time_final %}
        {% endif %}
    {% endif %}

  
   {% if prodtags contains 'Standard Cakes' and st_tag == ""  %}
      {% assign st_tag = "ST" %}
        {% if std_cake_lead_time_final > max_lead_time  %}
            {% assign max_lead_time = std_cake_lead_time_final %}
        {% endif %}
    {% endif %}

     {% if prodtags contains 'soldout' and so_tag == ""  %}
      {% assign so_tag = "SO" %}
        {% if sold_out_lead_time_final > max_lead_time  %}
            {% assign max_lead_time = sold_out_lead_time_final %}
        {% endif %}
    {% endif %}
  
   {% if prodtags contains '3 Days' and td_tag == ""  %}
      {% assign td_tag = "3D" %}
        {% if three_day_lead_time_final > max_lead_time  %}
            {% assign max_lead_time = three_day_lead_time_final %}
        {% endif %}
    {% endif %}

   {% if prodtags contains '5 Days' and fd_tag == ""   %}
      {% assign fd_tag = "5D" %}
        {% if five_day_lead_time_final >= max_lead_time %}
            {% assign max_lead_time = five_day_lead_time_final %}
        {% endif %}
    {% endif %}     


   {% if prodtags contains 'edibleimage' and ei_tag == ""  %}
      {% assign ei_tag = "EI" %}
        {% if edible_image_lead_time_final > max_lead_time  %}
            {% assign max_lead_time = edible_image_lead_time_final %}
        {% endif %}
    {% endif %}     

  
{% endfor %}


    

