<div class="page-width info-pages">	
  
  {% liquid
  assign serves = "<span class='info'>Serves: </span>"
  assign normal = "<span class='info'>Starting Regular Price: </span>" 
  assign online = "<span class='info'>Starting Online Price: </span>" 
  assign savings = "<div><span class='info'>Savings: </span>" 
  assign savingspost = "<div class='info savetxt'> - Buy online and save! <a class='quesinfo' href='#ques'>(?)</a></div><div>"
  %}

  
<h2>Vegan Cake Pricing</h2>
  <h3>Buy Online and Save up to 48%!</h3>
  <p>Select, customize, and checkout with your cake online and save!</p> 


<br>


{%- liquid 
    assign icon-veg = "<img loading='lazy' class='svg20' src='https://cdn.shopify.com/s/files/1/0024/7441/0043/files/vegan-free-logo.svg?v=1678740392' alt='Vegan Flavor' />"
    assign icon-pop = "<img loading='lazy' class='svg20'  src='https://cdn.shopify.com/s/files/1/0024/7441/0043/files/favorite-logo.svg?v=1678740392' alt='Popular Flavor'/>"
    assign icon-adv = "<img loading='lazy' class='svg20' src='https://cdn.shopify.com/s/files/1/0024/7441/0043/files/adv-logo.svg?v=1678740814' alt='Adventurous Flavor' />"
    assign icon-kid = "<img loading='lazy' class='svg20' src='https://cdn.shopify.com/s/files/1/0024/7441/0043/files/kid-friendly-logo.svg?v=1678740392' alt='kid Friendly Flavor' />"
   
-%}

<h2>Vegan Custom Cake Sizes and Shapes</h2>
<!-- GF FLAVORS  -->

<h3>Round Cakes</h3>	


  
<table id="tblcakes" class="ptable ptable-sizes">
  <tr>
    <th scope="col" class="txtleft">Size/Shape</th>
    <th scope="col">Serves</th>
    <th scope="col"><div>Starting Regular Price: <a class="quesinfo" href="#ques">(?)</a></div></th>
    <th scope="col"><div>Starting Online Price: <a class="quesinfo" href="#ques">(?)</a></div></th>
    <th scope="col" class="r4">Savings</th>
	  <th scope="col">Order</th>
  </tr>

  <tr>
    <td><div>{{ icon-veg}} 4&quot; Round Smash Cake (no filling) </div></td>
    <td class="r1">{{ serves }}1</td>
    <td class="r3">{{ normal }}$39</td>
    <td class="r2">{{ online }}$29</td>
    <td class="r4">{{ savings }}26% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="https://shop.pattys-cakes.com/collections/semi-custom-cakes/products/smash-cake-semi-custom">order online</a></td>
  </tr>


    <tr>
    <td><div>{{ icon-veg}} 8&quot; Round Single Layer</div></td>
    <td class="r1">{{ serves }}11</td>
    <td class="r3">{{ normal }}$73</td>
    <td class="r2">{{ online }}$59</td>
    <td class="r4">{{ savings }}21% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="/collections/vegan-cakes/round-single-layer">order online</a></td>	
  </tr>

    <tr>
    <td><div>{{ icon-veg}} 10&quot; Round Single Layer</div></td>
    <td class="r1">{{ serves }}16</td>
    <td class="r3">{{ normal }}$84</td>
    <td class="r2">{{ online }}$70</td>
    <td class="r4">{{ savings }}18% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="/collections/vegan-cakes/round-single-layer">order online</a></td>
  </tr>

    <tr>
    <td><div>{{ icon-veg}} 6&quot; Round Double Layer</div></td>
    <td class="r1">{{ serves }}12</td>
    <td class="r3">{{ normal }}$79</td>
    <td class="r2">{{ online }}$65</td>
    <td class="r4">{{ savings }}18% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="/collections/vegan-cakes/round-double-layer">order online</a></td>	
  </tr>

 <tr>
    <td><div>{{ icon-veg}} 8&quot; Round Double Layer</div></td>
    <td class="r1">{{ serves }}23</td>
    <td class="r3">{{ normal }}$93</td>
    <td class="r2">{{ online }}$79</td>
    <td class="r4">{{ savings }}15% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="/collections/vegan-cakes/round-double-layer">order online</a></td>	
  </tr>

  <tr>
    <td><div>{{ icon-veg}} 10&quot; Round Double Layer</div></td>
    <td class="r1">{{ serves }}36</td>
    <td class="r3">{{ normal }}$125</td>
    <td class="r2">{{ online }}$111</td>
    <td class="r4">{{ savings }}11% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="/collections/vegan-cakes/round-double-layer">order online</a></td>
  </tr>
  
</table>	
	
<h3>Heart Cake</h3>	
<table class="ptable ptable-sizes">
  <tr>
    <th scope="col" class="txtleft">Size/Shape</th>
    <th scope="col">Serves</th>
    <th scope="col"><div>Starting Regular Price: <a class="quesinfo" href="#ques">(?)</a></div></th>
    <th scope="col"><div>Starting Online Price: <a class="quesinfo" href="#ques">(?)</a></div></th>
    <th scope="col" class="r4">Savings</th>
	  <th scope="col">Order</th>
  </tr>
	
   <tr>
	   <td><div>{{ icon-veg}} 8&quot; Heart Double Layer</div></td>
    <td class="r1">{{ serves }}23 </td>
    <td class="r3">{{ normal }}$129 </td>
    <td class="r2">{{ online }}$115 </td>
    <td class="r4">{{ savings }}11% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="https://shop.pattys-cakes.com/collections/vegan-cakes?filter.p.m.pc-filter.shape2=Heart&sort_by=manual">order online</a></td>	
  </tr> 
	
</table>	
	
	
<h3>Tiered Cakes</h3>	
<table class="ptable ptable-sizes">
  <tr>
    <th scope="col" class="txtleft">Size/Shape</th>
    <th scope="col">Serves</th>
    <th scope="col"><div>Starting Regular Price: <a class="quesinfo" href="#ques">(?)</a></div></th>
    <th scope="col"><div>Starting Online Price: <a class="quesinfo" href="#ques">(?)</a></div></th>
    <th scope="col" class="r4">Savings</th>
	  <th scope="col">Order</th>
  </tr>

  <tr>
    <td><div>{{ icon-veg}} 2 Tier Round (5&quot; &amp; 8&quot;)</div></td>
    <td class="r1">{{ serves }}30</td>
    <td class="r3">{{ normal }}$205</td>
    <td class="r2">{{ online }}$189</td>
    <td class="r4">{{ savings }}8% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="/collections/vegan-cakes/tiered-cake">order online</a></td>	
  </tr>

  
  <tr>
    <td><div>{{ icon-veg}} 2 Tier Round (6&quot; &amp; 9&quot;)</div></td>
    <td class="r1">{{ serves }}40</td>
    <td class="r3">{{ normal }}$215</td>
    <td class="r2">{{ online }}$199</td>
    <td class="r4">{{ savings }}8% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="/collections/vegan-cakes/tiered-cake">order online</a></td>	
  </tr>

  <tr>
    <td><div>{{ icon-veg}} 2 Tier Round (6&quot; &amp; 10&quot;)</div></td>
    <td class="r1">{{ serves }}47</td>
    <td class="r3">{{ normal }}$237</td>
    <td class="r2">{{ online }}$221</td>
    <td class="r4">{{ savings }}7% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="/collections/vegan-cakes/tiered-cake">order online</a></td>	
  </tr>

  <tr>
    <td><div>{{ icon-veg}} 2 Tier Round (6&quot; &amp; 11&quot;)</div></td>
    <td class="r1">{{ serves }}55</td>
    <td class="r3">{{ normal }}$267</td>
    <td class="r2">{{ online }}$251</td>
    <td class="r4">{{ savings }}6% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="/collections/vegan-cakes/tiered-cake">order online</a></td>
  </tr>
  

  <tr>
    <td><div>{{ icon-veg}} 3 Tier Round </div></td>
    <td class="r1">{{ serves }}75-110</td>
    <td class="r3">{{ normal }}$400+</td>
    <td class="r2">{{ online }}-</td>
    <td class="r4">-</td>
	<td class="r5"><a class="buynow" href="https://pattys-cakes.com/events">request</a></td>
  </tr>

</table>

	
  <span class="anchor" id="ques"></span>  

  <br><br>
<h2>Cake Pricing Explained</h2>
<h3>Starting Online Price</h3><p> This pricing is available for cakes purchased on our <strong>online store only</strong>. This is the starting price, plus artwork. The pricing will be listed on each cake.</p>
<h3>Starting Regular Price</h3>
<p>Is the pricing used when placing your order via <strong>email or in-person</strong>. This is the starting price, plus artwork. </p>
<h3>What if your design is not available online?</h3><p> Then the cake will be priced at the "Regular Starting Price." Yes, even if your design is only slightly different.       
<h3>What is included?</h3> 
  <p>All cakes include a filling and a basic design for the price listed. Additional artwork or changes will increase the price.</p>
  <p>Sales tax is not collected.</p> 
 
  <h3>Need More?</h3> 
  <p>Not seeing what you are looking for? <a href="https://pattys-cakes.com/contact-us?contact=107">Send us a message</a></p>

  
	 <!-- END GF  -->

	</div>