{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - show_rating: {Boolean} Show the product rating. Default: false
  - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - show_quick_add: {Boolean} Show the quick add button.
  - section_id: {String} The ID of the section that contains this card.
  - horizontal_class: {Boolean} Add a card--horizontal class if set to true. Default: false

// Add on for individual items from this place
// https://community.shopify.com/c/shopify-design/how-to-make-a-quantity-selector-next-to-quick-add-on-the-product/td-p/1874259

  Usage:
  {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{{ 'component-rating.css' | asset_url | stylesheet_tag }}

{%- if card_product and card_product != empty -%}
  {%- liquid
    assign ratio = 1
    if card_product.featured_media and media_aspect_ratio == 'portrait'
      assign ratio = 0.8
    elsif card_product.featured_media and media_aspect_ratio == 'adapt'
      assign ratio = card_product.featured_media.aspect_ratio
    endif
    if ratio == 0 or ratio == nil
      assign ratio = 1
    endif
  -%}

   <!-- BEGIN : SNIP/CARD-PRODUCT -->

  



 <div class="card-wrapper underline-links-hover pcakes-card-grid"> 

      
        
        <div class="itemgrid1 product-card-wrapper">

              
            
            <div
            class="
                card
                card--{{ settings.card_style }}
                {% if card_product.featured_media %} card--media{% else %} card--text{% endif %}
                {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}
                {% if extend_height %} card--extend-height{% endif %}
                {% if card_product.featured_media == nil and settings.card_style == 'card' %} ratio{% endif %}
                {% if horizontal_class %} card--horizontal{% endif %}
                pcakes-grid
            "
            >
            <!-- 1- image -->
            <a href="{{ card_product.url}}" class="pcakes-grid">
            <div
                class="card__inner {% if settings.card_style == 'standard' %}color-{{ settings.card_color_scheme }} gradient{% endif %}{% if card_product.featured_media or settings.card_style == 'standard' %} ratio{% endif %}"
                style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
            >
                {%- if card_product.featured_media -%}

                <!-- SNIP/CARD-PRODUCT - FEATURED MEDIA -->
                <div class="card__media">
                    <div class="media media--transparent media--hover-effect">
                    {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
                    <img
                        srcset="
                        {%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                        {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                        {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                        {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                        {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                        {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                        {{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w
                        "
                        src="{{ card_product.featured_media | image_url: width: 533 }}"
                        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                        alt="{{ card_product.featured_media.alt | escape }}"
                        class="motion-reduce"
                        {% unless lazy_load == false %}
                        loading="lazy"
                        {% endunless %}
                        width="{{ card_product.featured_media.width }}"
                        height="{{ card_product.featured_media.height }}"
                    >
                    {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}

                    {%- if card_product.media[1] != nil and show_secondary_image -%}
                        <img
                        srcset="
                            {%- if card_product.media[1].width >= 165 -%}{{ card_product.media[1] | image_url: width: 165 }} 165w,{%- endif -%}
                            {%- if card_product.media[1].width >= 360 -%}{{ card_product.media[1] | image_url: width: 360 }} 360w,{%- endif -%}
                            {%- if card_product.media[1].width >= 533 -%}{{ card_product.media[1] | image_url: width: 533 }} 533w,{%- endif -%}
                            {%- if card_product.media[1].width >= 720 -%}{{ card_product.media[1] | image_url: width: 720 }} 720w,{%- endif -%}
                            {%- if card_product.media[1].width >= 940 -%}{{ card_product.media[1] | image_url: width: 940 }} 940w,{%- endif -%}
                            {%- if card_product.media[1].width >= 1066 -%}{{ card_product.media[1] | image_url: width: 1066 }} 1066w,{%- endif -%}
                            {{ card_product.media[1] | image_url }} {{ card_product.media[1].width }}w
                        "
                        src="{{ card_product.media[1] | image_url: width: 533 }}"
                        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                        alt=""
                        class="motion-reduce"
                        loading="lazy"
                        width="{{ card_product.media[1].width }}"
                        height="{{ card_product.media[1].height }}"
                        >
                    {%- endif -%}
                    </div>
                
                </div>
                <!-- END - SNIP/CARD-PRODUCT - FEATURED MEDIA -->
                {%- endif -%}
            </div>
            </a>
        </div>

        <div>
        

            
                {% if card_product.tags contains "cake" or card_product.tags contains "Standard Cake" or card_product.tags contains "Tiered Cake" or card_product.tags contains "3 Days" or card_product.tags contains "5 Days" %}
                  <a href="{{ card_product.url}}" class="img-banner"> 
                  <div class="imgbanner">

                        {% if card_product.tags contains "cake" or card_product.tags contains "Standard Cake" or card_product.tags contains "Tiered Cake"  %}
                        <p class="border-btm">Customize this Cake</p> 
                        {% endif %}
                        {%  if card_product.tags contains "3 Days"   %} 
                        <p>3 Day Lead Time</p>
                        {% elsif card_product.tags contains "5 Days" %}
                        <p>5 Day Lead Time</p>
                        {% endif %}
                    </div>
                </a>
                  
                {% endif %}


       </div> 

    </div>

    <div class="itemgrid2"> 

            <a
            href="{{ card_product.url }}"
            id="StandardCardMediaLink-{{ section_id }}-{{ card_product.id }}"
            class="full-unstyled-link"
          <!--aria-labelledby="StandardCardMediaLink-{{ section_id }}-{{ card_product.id }} NoMediaStandardBadge-{{ section_id }}-{{ card_product.id }}"-->
>
            {{ card_product.title | escape }}
    </a>
      {%- assign product_in_collects = '[' -%}
  {%- for collection in card_product.collections -%} 
  {%- assign product_in_collects = product_in_collects | append: '{"collection_id":"' | append: collection.id | append: '","product_id":"' | append: card_product.id | append: '"' | append: ',"product_handle":"' | append: card_product.handle | append: '"}' -%}
  {% if forloop.last == false %}
  {%- assign product_in_collects =  product_in_collects | append: ',' -%}
  {% endif %}
  {%- endfor -%}
  {%- assign product_in_collects =  product_in_collects | append: ']' -%}
<span class="col_clct" clct='{{product_in_collects}}'></span>
    </div>



<!-- 2 REG - DESCRIP --> 
        <div class="itemgrid3"> 
            
            {%- if card_product.metafields.pcakes.prodquickdescrip -%}
            <div class="pcakes-metadescrip">
                <span class="visually-hidden">Description</span>
                <div class="pcakes-descrip">{{ card_product.metafields.pcakes.prodquickdescrip }}</div>
            </div>
            {%-else -%}
            <div>&nbsp;</div>
            {%- endif -%}
        </div>




<!-- YOTPO REVIEWS-->
        <div class="itemgrid4"> 
            
            <div class="pcakes-yotpo-collection">
                <div class="yotpo bottomLine" data-product-id="{{ card_product.id }}"></div>
            </div>
        </div>

        <!-- STARTING PRICE -->  
        <!--div class="itemgrid5"> 
        
        
            {%  if card_product.tags contains "candles" %} 
                    <div>&nbsp;</div>
            {% else %}
                {%  if card_product.variants.size > 1 or card_product.tags contains "Standard Cakes" or card_product.tags contains "Semi Custom" or card_product.tags contains "Custom Cake" or card_product.tags contains "semi VEGF" or card_product.tags contains "Tiered Cake" or card_product.tags contains "Theme Cake"   %}
                    <div class="tinyprice pcakes-grid">Starting at</div>
        
                {% elsif card_product.tags contains "customize" %}
                <!-- mini cupcake, split dozen >
                    <div>&nbsp;</div>
                {% else %}
                {% endif %}
            {% endif %}

        </div-->
        <!-- price -->

  
        <div class="itemgrid6"> 
            {%  if card_product.variants.size > 1 or card_product.tags contains "Standard Cakes" or card_product.tags contains "Semi Custom" or card_product.tags contains "Custom Cake" or card_product.tags contains "semi VEGF" or card_product.tags contains "Tiered Cake" or card_product.tags contains "Theme Cake"   %} <!-- HAS VARIANT -->
               
            <span class="tinyprice pcakes-grid">Starting at &nbsp;</span > 
                {% endif %}
                <span>{{ card_product.price | money }}</span>
        </div>

        <div class="itemgrid7"> 
   {% comment %} SET THE THE METAFIELD! {% endcomment %}
  
            {% if card_product.metafields.pcakes.quickadd == "customize"    %}
                <!-- CUSTOMIZE --> 
                <a class="button pcakes-button" href="{{ card_product.url | within: collection }}">
                    CUSTOMIZE
                </a>
                            

                {% elsif card_product.metafields.pcakes.quickadd == "explore" %}
                <!-- EXPLORE -->  
                <a class="button pcakes-button" href="{{ card_product.url | within: collection }}">
                    EXPLORE 
                </a>

              
               {% elsif card_product.metafields.pcakes.quickadd == "choosesize" %}              
                  <!-- CHOOSE SIZE -->                
                  <a class="button pcakes-button" href="{{ card_product.url | within: collection }}">
                    CHOOSE SIZE
                </a>          

                 {% elsif card_product.metafields.pcakes.quickadd == "quickadd" %}
                 <!-- QUICKADD -->  
              
                <product-form>

              <a class="button pcakes-button explore-button" href="{{ card_product.url | within: collection }}">
                    EXPLORE 
                </a>
                    <div class="quick-add no-js-hidden">
                        {%- assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id -%}
                        {%- liquid
                            assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id
                            assign qty_rules = false
                            if card_product.selected_or_first_available_variant.quantity_rule.min > 1 or card_product.selected_or_first_available_variant.quantity_rule.max != null or card_product.selected_or_first_available_variant.quantity_rule.increment > 1
                              assign qty_rules = true
                            endif
                          -%}
                
                      
                       
                          <product-form>
                            {%- form 'product', card_product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
            
                        <div
                            class="product-form__input product-form__quantity{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} product-form__quantity-top{% endif %}"
                            {{ block.shopify_attributes }}
                          >
                            <label class="form__label visually-hidden" for="Quantity-{{ section.id }}">
                              {{ 'products.product.quantity.label' | t }}
                            </label>
            
            
                                <!-- QUANTITY --> 
                            <quantity-input class="quantity" style="margin-bottom: 5px;">
                              <button class="quantity__button no-js-hidden" name="minus" type="button">
                                <span class="visually-hidden">
                                  {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                                </span>
                                {% render 'icon-minus' %}
                              </button>
                              <input
                                class="quantity__input"
                                type="number"
                                name="quantity"
                                id="Quantity-{{ section.id }}"
                                min="1"
                                value="1"
                                form="{{ product_form_id }}"
                              >
                              <button class="quantity__button no-js-hidden" name="plus" type="button">
                                <span class="visually-hidden">
                                  {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                                </span>
                                {% render 'icon-plus' %}
                              </button>
                            </quantity-input>
                              
                          </div>
                              <input
                                type="hidden"
                                name="id"
                                value="{{ card_product.selected_or_first_available_variant.id }}"
                                disabled
                              >
                              <button
                                id="{{ product_form_id }}-submit"
                                type="submit"
                                name="add"
                                class="quick-add__submit button button--full-width button--secondary"
                                aria-haspopup="dialog"
                                aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                                aria-live="polite"
                                data-sold-out-message="true"
                                {% if card_product.selected_or_first_available_variant.available == false %}
                                  disabled
                                {% endif %}
                              >
                                <span>
                                  {%- if card_product.selected_or_first_available_variant.available -%}
                                    ADD TO CART {% comment %}  %}{{ 'products.product.add_to_cart' | t }} {% endcomment %} 
                                  {%- else -%}
                                    {{ 'products.product.sold_out' | t }}2
                                  {%- endif -%}
                                </span>
                                <span class="sold-out-message hidden">
                                  {{ 'products.product.sold_out' | t }}
                                </span>
                                <div class="loading-overlay__spinner hidden">
                                  <svg
                                    aria-hidden="true"
                                    focusable="false"
                                    role="presentation"
                                    class="spinner"
                                    viewBox="0 0 66 66"
                                    xmlns="http://www.w3.org/2000/svg"
                                  >
                                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                  </svg>
                                </div>
                              </button>
                            {%- endform -%}
                          </product-form>



              {% else %} 
                <!-- EXPLORE NO ASSIGNMENT -->  
                <a class="button pcakes-button" href="{{ card_product.url | within: collection }}">
                    EXPLORE 
                </a>
                          
                
                {% endif %}
        </div>

        
</div>

{%- endif -%}