<noscript>{{ 'base-pcakes-cake-info-pages.css' | asset_url | stylesheet_tag }}</noscript>

<div class="page-width info-pages">	

<h2>Custom Cake Sizes and Shapes</h2>
<!-- CLASSIC FLAVORS  -->



<style>

  .info {
    display: none;
  }
@media( max-width: 550px) {

  .ptable {
    border:none;
  }
  	.ptable tbody tr {
		display: grid;
		grid-row-gap: 0px;
		grid-column-gap:0px; 
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		border:#F2F2F2 solid 1px;
        margin-bottom: 40px;
      padding-bottom: 20px;
      border-radius: 4px;
	}
	.ptable {
		padding: 5px 3px 5px 8px;
    }
  .ptable tbody tr:first-child {
    display:none;
  }
  
 .ptable tbody tr td:first-child {
    display: grid;
    grid-column:1 / span 4;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
   text-align:center;
   font-size: 105%;
   background-color: #F2F2F2;
   
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
	}
  

   .XXXXXXXxptable tbody tr td {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
.ptable tr:nth-child(odd) {
  background-color: #ffffff;
}
  
  .r1, .r2, .r3,.r4,.r5 {
     grid-column:1 / span 4;
  }
  .r4 {
      color: red;
  }
  .r1,.r2,.r3,.r4,.r5 {
  font-size: 85%;
}

  .savetxt {
    font-size: 70%;
  }

  .buynow, .buynow:visited {
	margin: 0px auto; 
    width: 80%;
    max-width: 260px;
}
  
  .info {
    display:contents;
  }  
}

.ptable-sizes tbody tr {
  grid-template-columns:3fr 1fr 1fr 1fr 1fr 1fr;
}

    .buynow, .buynow:visited {
	margin: 0px auto; 
  width: 80%;
    max-width: 260px;
    
	border-radius: 4px; 
	align-content: center;
	background-color:#8a54a8; 
	color:#FFF !important; 
	font-size:14px;
	/*white-space: nowrap;*/
	display: grid;
	text-decoration: none;

  padding: 7px 3px;
  line-height: 110%;
}
.buynow:active, .buynow:hover {
	background-color:#e14984;
	text-decoration: none;
}
  
</style>


  {% liquid
  assign serves = "<span class='info'>Serves: </span>"
  assign normal = "<span class='info'>Starting Price: </span>" 
  assign online = "<span class='info'>Starting Online Price: </span>" 
  assign savings = "<span class='info'>Savings: </span>" 
  assign savingspost = "<div class='info savetxt'>Buy online and save!</div>" 
  %}

  
<h3>Round Cakes</h3>	
<table id="tblcakes" class="ptable ptable-sizes">
  <tr>
    <th scope="col" class="txtleft">Size/Shape</th>
    <th scope="col">Serves</th>
    <th scope="col">Starting Price</th>
    <th scope="col">Starting Online Price:</th>
    <th scope="col">Savings</th>
	  <th scope="col">Order</th>
  </tr>
  <tr>
    <td>4&quot; Round Smash Cake (no filling) </td>
    <td class="r1">{{ serves }}1</td>
    <td class="r3">{{ normal }}$31</td>
    <td class="r2">{{ online }}$21</td>
    <td class="r4">{{ savings }}48% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="https://shop.pattys-cakes.com/collections/semi-custom-cakes/products/smash-cake-semi-custom">order online</a></td>
  </tr>

  <tr>
    <td>8&quot; Round Single Layer</td>
    <td class="r1">{{ serves }}11</td>
    <td class="r3">{{ normal }}$53</td>
    <td class="r2">{{ online }}$39</td>
    <td class="r4">{{ savings }}36% {{ savingspost }}</td>
    <td class="r5"><a class="buynow" href="https://shop.pattys-cakes.com/collections/semi-custom-cakes/round-single-layer">order online</a></td>
  </tr>



  
   <tr>
    <td>10&quot; Round Single Layer</td>
    <td class="r1">{{ serves }}16</td>
    <td class="r3">{{ normal }}65</td>
    <td class="r2">{{ online }}51</td>
    <td class="r4">{{ savings }}27 {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="https://shop.pattys-cakes.com/collections/semi-custom-cakes/round-single-layer">order online</a></td>	
  </tr>
	

  
   <tr>
    <td >6&quot; Round Double Layer</td>
    <td class="r1">{{ serves }}12</td>
    <td class="r3">{{ normal }}63</td>
    <td class="r2">{{ online }}49</td>
    <td class="r4">{{ savings }}29{{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="https://shop.pattys-cakes.com/collections/semi-custom-cakes/round-double-layer">order online</a></td>
  </tr>
  
	
  
   <tr>
    <td>8&quot; Round Double Layer</td>
    <td class="r1">{{ serves }}23 </td>
    <td class="r3">{{ normal }}73 </td>
    <td class="r2">{{ online }}59 </td>
    <td class="r4">{{ savings }}24 {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="https://shop.pattys-cakes.com/collections/semi-custom-cakes/round-double-layer">order online</a></td>	
  </tr>  


  
  
   <tr>
      <td>10&quot; Round Double Layer</td>
    <td class="r1">{{ serves }}36 </td>
    <td class="r3">{{ normal }}97 </td>
    <td class="r2">{{ online }}83 </td>
    <td class="r4">{{ savings }}17 {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="https://shop.pattys-cakes.com/collections/semi-custom-cakes/round-double-layer">order online</a></td>	
  </tr>
  
</table>
	
	
	
<h3>Sheet Cakes</h3>	
<table class="ptable ptable-sizes">
  <tr>
    <th scope="col" class="txtleft">Size/Shape</th>
    <th scope="col">Serves</th>
    <th scope="col">Price</th>
	  <th scope="col">Order</th>
  </tr>



    
   <tr>
    <td>4&quot; XXXX </td>
    <td class="r1">{{ serves }} </td>
    <td class="r3">{{ normal }} </td>
    <td class="r2">{{ online }} </td>
    <td class="r4">{{ savings }} {{ savingspost }}</td>
	<td class="r5">
  </tr>

  
  <tr>
    <td>8x11 Sheet</td>
    <td>20</td>
    <td>$59</td>
	<td><a class="buynow" href="https://shop.pattys-cakes.com/collections/semi-custom-cakes/sheet">order online</a></td>
	</tr>
  <tr>
    <td>Quarter Sheet</td>
    <td>29</td>
    <td>$69</td>
	<td><a class="buynow" href="https://shop.pattys-cakes.com/collections/semi-custom-cakes/sheet">order online</a></td>	  
  </tr>
  <tr>
    <td>Third Sheet</td>
    <td>37</td>
    <td>$83</td>
	<td><a class="buynow" href="https://shop.pattys-cakes.com/collections/semi-custom-cakes/sheet">order online</a></td>	  
  </tr>
  <tr>
    <td>Half Sheet</td>
    <td>48</td>
    <td>$93</td>
	<td><a class="buynow" href="https://shop.pattys-cakes.com/collections/semi-custom-cakes/sheet">order online</a></td>
	</tr>
  <tr>
    <td>Two-Thirds Sheet</td>
    <td>75</td>
    <td>$127</td>
	<td><a class="buynow" href="https://shop.pattys-cakes.com/collections/semi-custom-cakes/sheet">order online</a></td>	  
  </tr>
  <tr>
    <td>Full Sheet</td>
    <td>100</td>
    <td>$161</td>
	<td><a class="buynow" href="https://shop.pattys-cakes.com/collections/semi-custom-cakes/sheet">order online</a></td>	  
  </tr>
</table>
	
	
<h3>Tiered Cakes</h3>	
<table class="ptable ptable-sizes">
  <tr>
    <th scope="col" class="txtleft">Size/Shape</th>
    <th scope="col">Serves</th>
    <th scope="col">Starting Price</th>
	<th scope="col">Order</th>
  </tr>
  <tr>
    <td>2 Tier Round (5&quot; &amp; 8&quot;)</td>
    <td>30</td>
    <td>$159</td>
	<td><a class="buynow" href="https://shop.pattys-cakes.com/collections/tiered-cakes">order online</a></td>	  
  </tr>
  <tr>
    <td>2 Tier Round (6&quot; &amp; 9&quot;)</td>
    <td>40</td>
    <td>$169</td>
	<td><a class="buynow" href="https://shop.pattys-cakes.com/collections/tiered-cakes">order online</a></td>
  </tr>
  <tr>
    <td>2 Tier Round (6&quot; &amp; 10&quot;)</td>
    <td>47</td>
    <td>$189</td>
	<td><a class="buynow" href="https://shop.pattys-cakes.com/collections/tiered-cakes">order online</a></td>  
  </tr>
  <tr>
    <td>2 Tier Round (6&quot; &amp; 11&quot;)</td>
    <td>55</td>
    <td>$209</td>
	<td><a class="buynow" href="https://shop.pattys-cakes.com/collections/tiered-cakes">order online</a></td> 
  </tr>
  <tr>
    <td>2 Tier Round (6&quot; &amp; 12&quot;)</td>
    <td>65</td>
    <td>$229</td>
	<td><a class="buynow" href="https://shop.pattys-cakes.com/collections/tiered-cakes">order online</a></td> 
  </tr>	
  <tr>
    <td>3-4-5 Tier Round and Square Cakes</td>
    <td>75-500+</td>
    <td>$375+</td>
	<td><a class="buynow" href="https://pattys-cakes.com/events">request</a></td>	  
  </tr>
</table>

	
<p class="tinytext">All custom cakes include a filling and a basic design for the price listed. Additional artwork or changes will increase the price. Sales tax is not collected. Not seeing what you are looking for? <a href="https://pattys-cakes.com/contact-us?contact=107">Send us a message</a></p>

	 <!-- END CLASSIC -->


	</div>