<noscript>{{ 'base-pcakes-cake-info-pages.css' | asset_url | stylesheet_tag }}</noscript>




<style>
.color-grid {
    display: grid;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-template-rows: 1fr;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-radius: 5px;
    line-height: 120%;
}

  .colorsubbox {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 40px 100px 40px 100px;
    grid-row-gap: 5px;
    text-align: center;
    justify-items: center;
    border: #F2F2F2 solid 1px;
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
  }
  .colorsubbox:hover {
    border: #F2F2F2 solid 2px;
    padding: 9px;
    
  }
  .colorsubbox div {
    display: grid;
    align-items: center;
  }
  .clr-title {
    margin: 15px 0 5px 0;
  }

</style >




<div class="page-width info-pages">	


  <div class="color-grid">

<div class="colorsubbox"><div class="clr-title">Super Red</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/101-gel-super-red-reg.jpg?v=1707014733" alt="Cake Color Swatch -  Regular Super Red" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/102-gel-super-red-pastel.jpg?v=1707014733" alt="Cake Color Swatch - Pastel Super Red" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Tourmaline</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/131-gel-tourmaline-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Tourmaline" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/132-gel-tourmaline-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Tourmaline" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Neon Pink</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/161-gel-neon-bright-pink-reg.jpg?v=1707015816" alt="Cake Color Swatch -  Regular Neon Bright Pink" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/162-gel-neon-bright-pink-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Neon Bright Pink" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Rose Pink</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/191-gel-rose-pink-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Rose Pink" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/192-gel-rose-pink-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Rose Pink" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Sunset Orange</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/221-gel-sunset-orange-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Sunset Orange" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/222-gel-sunset-orange-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Sunset Orange" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Golden Yellow</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/251-gel-golden-yellow-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Golden Yellow" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/252-gel-golden-yellow-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Golden Yellow" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Lemon Yellow</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/281-gel-lemon-yellow-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Lemon Yellow" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/282-gel-lemon-yellow-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Lemon Yellow" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Lime Green</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/311-gel-lime-green-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Lime Green" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/312-gel-lime-green-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Lime Green" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Leaf Green</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/341-gel-leaf-green-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Leaf Green" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/342-gel-leaf-green-pastel.jpg?v=1707015816" alt="Cake Color Swatch - Pastel Leaf Green" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Olive Green</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/371-gel-olive-green-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Olive Green" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/372-gel-olive-green-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Olive Green" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Teal Green</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/401-gel-teal-green-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Teal Green" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/402-gel-teal-green-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Teal Green" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Sky Blue</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/431-gel-sky-blue-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Sky Blue" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/432-gel-sky-blue-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Sky Blue" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Royal Blue</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/461-gel-royal-blue-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Royal Blue" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/462-gel-royal-blue-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Royal Blue" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Navy Blue</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/491-gel-navy-blue-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Navy Blue" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/492-gel-navy-blue-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Navy Blue" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Sapphire</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/521-gel-sapphire-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Sapphire" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/522-gel-sapphire-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Sapphire" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Violet</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/551-gel-violet-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Violet" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/552-gel-violet-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Violet" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Burgundy Wine</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/581-gel-burgundy-wine-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Burgundy Wine" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/582-gel-burgundy-wine-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Burgundy Wine" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Brown</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/611-gel-brown-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Brown" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/612-gel-brown-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Brown" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Ivory</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/641-gel-ivory-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Ivory" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/642-gel-ivory-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Ivory" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Stone Gray</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/671-gel-stone-gray-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Stone Gray" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/672-gel-stone-gray-pastel.jpg?v=1707015814" alt="Cake Color Swatch - Pastel Stone Gray" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><div class="clr-title">Black</div> <div class="clr-subtitle">Regular</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/701-gel-black-reg.jpg?v=1707015816" alt="Cake Color Swatch -  Regular Black" class="cakeclr-img imgreg" height="100" width="100"/>	<div class="clr-subtitle">Pastel</div><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/702-gel-black-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Black" class="cakeclr-img imgpastel" height="100" width="100"/></div>

    
    </div>
</div>



<br>

<br>
<br>
<br>
<br>
<br>
<br>






<style>
  /*
.color-grid {
    display: grid;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-template-rows: 1fr;
    border: #F2F2F2 solid 1px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-radius: 5px;
    line-height: 120%;
}

  .colorsubbox {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 100px;
    grid-row-gap: 5px;
    text-align: center;
    justify-items: center;
  }
  .colorsubbox p {
    margin: 15px 0 5px 0;
  }
*/
</style >



<div class="page-width info-pages">	


  <div class="color-grid">

  <div class="colorsubbox"><p>Super Red Regular</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/101-gel-super-red-reg.jpg?v=1707014733" alt="Cake Color Swatch -  Regular Super Red" class="cakeclr-img imgreg" height="100" width="100"/></div>	<div class="colorsubbox"><p>Super Red Pastel</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/102-gel-super-red-pastel.jpg?v=1707014733" alt="Cake Color Swatch - Pastel Super Red" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><p>Tourmaline Regular</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/131-gel-tourmaline-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Tourmaline" class="cakeclr-img imgreg" height="100" width="100"/></div>	<div class="colorsubbox"><p>Tourmaline Pastel</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/132-gel-tourmaline-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Tourmaline" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><p>Neon Bright Pink Regular</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/161-gel-neon-bright-pink-reg.jpg?v=1707015816" alt="Cake Color Swatch -  Regular Neon Bright Pink" class="cakeclr-img imgreg" height="100" width="100"/></div>	<div class="colorsubbox"><p>Neon Bright Pink Pastel</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/162-gel-neon-bright-pink-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Neon Bright Pink" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><p>Rose Pink Regular</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/191-gel-rose-pink-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Rose Pink" class="cakeclr-img imgreg" height="100" width="100"/></div>	<div class="colorsubbox"><p>Rose Pink Pastel</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/192-gel-rose-pink-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Rose Pink" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><p>Sunset Orange Regular</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/221-gel-sunset-orange-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Sunset Orange" class="cakeclr-img imgreg" height="100" width="100"/></div>	<div class="colorsubbox"><p>Sunset Orange Pastel</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/222-gel-sunset-orange-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Sunset Orange" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><p>Golden Yellow Regular</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/251-gel-golden-yellow-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Golden Yellow" class="cakeclr-img imgreg" height="100" width="100"/></div>	<div class="colorsubbox"><p>Golden Yellow Pastel</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/252-gel-golden-yellow-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Golden Yellow" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><p>Lemon Yellow Regular</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/281-gel-lemon-yellow-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Lemon Yellow" class="cakeclr-img imgreg" height="100" width="100"/></div>	<div class="colorsubbox"><p>Lemon Yellow Pastel</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/282-gel-lemon-yellow-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Lemon Yellow" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><p>Lime Green Regular</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/311-gel-lime-green-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Lime Green" class="cakeclr-img imgreg" height="100" width="100"/></div>	<div class="colorsubbox"><p>Lime Green Pastel</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/312-gel-lime-green-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Lime Green" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><p>Leaf Green Regular</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/341-gel-leaf-green-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Leaf Green" class="cakeclr-img imgreg" height="100" width="100"/></div>	<div class="colorsubbox"><p>Leaf Green Pastel</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/342-gel-leaf-green-pastel.jpg?v=1707015816" alt="Cake Color Swatch - Pastel Leaf Green" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><p>Olive Green Regular</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/371-gel-olive-green-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Olive Green" class="cakeclr-img imgreg" height="100" width="100"/></div>	<div class="colorsubbox"><p>Olive Green Pastel</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/372-gel-olive-green-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Olive Green" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><p>Teal Green Regular</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/401-gel-teal-green-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Teal Green" class="cakeclr-img imgreg" height="100" width="100"/></div>	<div class="colorsubbox"><p>Teal Green Pastel</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/402-gel-teal-green-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Teal Green" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><p>Sky Blue Regular</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/431-gel-sky-blue-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Sky Blue" class="cakeclr-img imgreg" height="100" width="100"/></div>	<div class="colorsubbox"><p>Sky Blue Pastel</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/432-gel-sky-blue-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Sky Blue" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><p>Royal Blue Regular</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/461-gel-royal-blue-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Royal Blue" class="cakeclr-img imgreg" height="100" width="100"/></div>	<div class="colorsubbox"><p>Royal Blue Pastel</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/462-gel-royal-blue-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Royal Blue" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><p>Navy Blue Regular</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/491-gel-navy-blue-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Navy Blue" class="cakeclr-img imgreg" height="100" width="100"/></div>	<div class="colorsubbox"><p>Navy Blue Pastel</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/492-gel-navy-blue-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Navy Blue" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><p>Sapphire Regular</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/521-gel-sapphire-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Sapphire" class="cakeclr-img imgreg" height="100" width="100"/></div>	<div class="colorsubbox"><p>Sapphire Pastel</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/522-gel-sapphire-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Sapphire" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><p>Violet Regular</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/551-gel-violet-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Violet" class="cakeclr-img imgreg" height="100" width="100"/></div>	<div class="colorsubbox"><p>Violet Pastel</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/552-gel-violet-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Violet" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><p>Burgundy Wine Regular</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/581-gel-burgundy-wine-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Burgundy Wine" class="cakeclr-img imgreg" height="100" width="100"/></div>	<div class="colorsubbox"><p>Burgundy Wine Pastel</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/582-gel-burgundy-wine-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Burgundy Wine" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><p>Brown Regular</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/611-gel-brown-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Brown" class="cakeclr-img imgreg" height="100" width="100"/></div>	<div class="colorsubbox"><p>Brown Pastel</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/612-gel-brown-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Brown" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><p>Ivory Regular</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/641-gel-ivory-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Ivory" class="cakeclr-img imgreg" height="100" width="100"/></div>
<div class="colorsubbox"><p>Stone Gray Regular</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/671-gel-stone-gray-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Stone Gray" class="cakeclr-img imgreg" height="100" width="100"/></div>	<div class="colorsubbox"><p>Stone Gray Pastel</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/672-gel-stone-gray-pastel.jpg?v=1707015814" alt="Cake Color Swatch - Pastel Stone Gray" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><p>Black Regular</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/701-gel-black-reg.jpg?v=1707015816" alt="Cake Color Swatch -  Regular Black" class="cakeclr-img imgreg" height="100" width="100"/></div>	<div class="colorsubbox"><p>Black Pastel</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/702-gel-black-pastel.jpg?v=1707015815" alt="Cake Color Swatch - Pastel Black" class="cakeclr-img imgpastel" height="100" width="100"/></div>
<div class="colorsubbox"><p>True Silver Regular</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/731-air-true-silver-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular True Silver" class="cakeclr-img imgreg" height="100" width="100"/></div>
<div class="colorsubbox"><p>Classic Gold Regular</p><img src="https://cdn.shopify.com/s/files/1/0024/7441/0043/files/761-air-classic-gold-reg.jpg?v=1707015815" alt="Cake Color Swatch -  Regular Classic Gold" class="cakeclr-img imgreg" height="100" width="100"/></div>
  </div>

</div>












{%   if product.metafields.pcakes.online_savings %}
    <div class="onlinesavings">Save up to {{ product.metafields.pcakes.online_savings}}% when you buy this online}}
  {% endif %}


<style > .buynow, .buynow:visited {
  border-radius: 4px;
  align-content: center;
  background-color: #8a54a8;
  color: #FFF !important;
  font-size: 14px;
  /*white-space: nowrap;*/
  display: grid;
  text-decoration: none;
  padding: 7px 3px;
  line-height: 110%;
}
.buynow:active, .buynow:hover {
  background-color: #e14984;
  text-decoration: none;
}




  
.info {
  display: none;
}
.ptable-sizes tbody tr {
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
}
.ptable tbody tr td, .ptable tbody tr th {
  align-items: center;
  display: grid;
}
.ptable th {
  word-break: break-word;
}
.r4 {
  color: red;
}
.r2 {
  color: green;
}
.anchor {
  position: relative;
  display: block;
  top: -180px;
  visibility: hidden;
}
.quesinfo {
  text-decoration: none;
}


/* CAKE PRICING PAGES | MOBILE DETAILS */

  @media(max-width: 675px) {
  .ptable {
    border: none;
  }
  .ptable tbody tr {
    display: grid;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border: #F2F2F2 solid 1px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-radius: 5px;
  }
  .ptable {
    padding: 5px 3px 5px 8px;
  }
  .ptable tbody tr:first-child {
    display: none;
  }
  .ptable tbody tr td:first-child {
    display: grid;
    grid-column: 1 / span 4;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    text-align: center;
    font-size: 105%;
    background-color: #F2F2F2;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 10px;
    padding: 8px 1px;
    border-bottom: solid 1px #e14984;
  }
  .ptable td, .ptable th {
    padding: 1px 3px
  }
  .ptable tr:nth-child(odd) {
    background-color: #ffffff;
  }
  .r1, .r2, .r3, .r4, .r5 {
    grid-column: 1 / span 4;
  }
  .r1, .r2, .r3, .r4, .r5 {
    /*font-size: 85%;*/
  }
  .savetxt {
    /*font-size: 70%;*/
  }
  .buynow, .buynow:visited {
    margin: 3px auto;
    width: 80%;
    max-width: 260px;
  }
  .info {
    display: contents;
  }
}
 /* END || CAKE PRICING PAGES | MOBILE DETAILS */

  
</style >


  <tr>
    <td>XXXX </td>
    <td class="r1">{{ serves }}</td>
    <td class="r3">{{ normal }}$</td>
    <td class="r2">{{ online }}$</td>
    <td class="r4">{{ savings }}% {{ savingspost }}</td>
	<td class="r5">
  </tr>









<div class="page-width info-pages">	
  
  {% liquid
  assign serves = "<span class='info'>Serves: </span>"
  assign normal = "<span class='info'>Starting Regular Price: </span>" 
  assign online = "<span class='info'>Starting Online Price: </span>" 
  assign savings = "<div><span class='info'>Savings: </span>" 
  assign savingspost = "<div class='info savetxt'> - Buy online and save! <a class='quesinfo' href='#ques'>(?)</a></div><div>"
  %}

  
<h2>Vegan Cake Pricing</h2>
  <h3>Buy Online and Save up to 48%!</h3>
  <p>Select, customize, and checkout with your cake online and save!</p> 

<br>

{%- liquid 
    assign icon-veg = "<img loading='lazy' class='svg20' src='https://cdn.shopify.com/s/files/1/0024/7441/0043/files/vegan-free-logo.svg?v=1678740392' alt='Vegan Flavor' />"
    assign icon-pop = "<img loading='lazy' class='svg20'  src='https://cdn.shopify.com/s/files/1/0024/7441/0043/files/favorite-logo.svg?v=1678740392' alt='Popular Flavor'/>"
    assign icon-adv = "<img loading='lazy' class='svg20' src='https://cdn.shopify.com/s/files/1/0024/7441/0043/files/adv-logo.svg?v=1678740814' alt='Adventurous Flavor' />"
    assign icon-kid = "<img loading='lazy' class='svg20' src='https://cdn.shopify.com/s/files/1/0024/7441/0043/files/kid-friendly-logo.svg?v=1678740392' alt='kid Friendly Flavor' />"
    assign icon-gf = "<img loading='lazy' class='svg20' src='https://cdn.shopify.com/s/files/1/0024/7441/0043/files/gluten-free-logo.svg?v=1678728404' alt='Gluten-Free Flavor' />"
-%}


<h2>Vegan Custom Cake Sizes and Shapes</h2>
<!-- VEGAN FLAVORS  -->

<h3>Round Cakes</h3>	
	
<table id="tblcakes" class="ptable ptable-sizes">
  <tr>
    <th scope="col" class="txtleft">Size/Shape</th>
    <th scope="col">Serves</th>
    <th scope="col"><div>Starting Regular Price: <a class="quesinfo" href="#ques">(?)</a></div></th>
    <th scope="col"><div>Starting Online Price: <a class="quesinfo" href="#ques">(?)</a></div></th>
    <th scope="col" class="r4">Savings</th>
	  <th scope="col">Order</th>
  </tr>


    <tr>
    <td><div>{{ icon-veg }} 4&quot; Round Smash Cake (no filling)</div> </td>
    <td class="r1">{{ serves }}1</td>
    <td class="r3">{{ normal }}$39</td>
    <td class="r2">{{ online }}$29</td>
    <td class="r4">{{ savings }}26% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="/products/smash-cake-semi-custom">order online</a></td>
  </tr>

    <tr>
    <td><div>{{ icon-veg }} 8&quot; Round Single Layer</div></td>
    <td class="r1">{{ serves }}11</td>
    <td class="r3">{{ normal }}$67</td>
    <td class="r2">{{ online }}$53</td>
    <td class="r4">{{ savings }}21% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="/collections/vegan-cakes/round-single-layer">order online</a></td>	
  </tr>

  
    <tr>
    <td><div>{{ icon-veg }} 10&quot; Round Single Layer</div></td>
    <td class="r1">{{ serves }}16</td>
    <td class="r3">{{ normal }}$79</td>
    <td class="r2">{{ online }}$65</td>
    <td class="r4">{{ savings }}18% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="/collections/vegan-cakes/round-single-layer">order online</a></td>	
  </tr>

	
<tr>
    <td ><div>{{ icon-veg }} 6&quot; Round Double Layer</div></td>
    <td class="r1">{{ serves }}12</td>
    <td class="r3">{{ normal }}$79</td>
    <td class="r2">{{ online }}$65</td>
    <td class="r4">{{ savings }}18% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="/collections/vegan-cakes/round-double-layer">order online</a></td>	
  </tr>

    <tr>
    <td><div>{{ icon-veg }} 8&quot; Round Double Layer</div></td>
    <td class="r1">{{ serves }}23</td>
    <td class="r3">{{ normal }}$93</td>
    <td class="r2">{{ online }}$79</td>
    <td class="r4">{{ savings }}15% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="/collections/vegan-cakes/round-double-layer">order online</a></td>	
  </tr>


    <tr>
    <td><div>{{ icon-veg }} 10&quot; Round Double Layer</div></td>
    <td class="r1">{{ serves }}36</td>
    <td class="r3">{{ normal }}$125</td>
    <td class="r2">{{ online }}$111</td>
    <td class="r4">{{ savings }}11% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="/collections/vegan-cakes/round-double-layer">order online</a></td>	
  </tr>
 
</table>	
	
<h3>Tiered Cakes</h3>	
<table class="ptable ptable-sizes">
  <tr>
    <th scope="col" class="txtleft">Size/Shape</th>
    <th scope="col">Serves</th>
    <th scope="col"><div>Starting Regular Price: <a class="quesinfo" href="#ques">(?)</a></div></th>
    <th scope="col"><div>Starting Online Price: <a class="quesinfo" href="#ques">(?)</a></div></th>
    <th scope="col" class="r4">Savings</th>
	  <th scope="col">Order</th>
  </tr>


    <tr>
    <td><div>{{ icon-veg }} 2 Tier Round (5&quot; &amp; 8&quot;)</div></td>
    <td class="r1">{{ serves }}30</td>
    <td class="r3">{{ normal }}$205</td>
    <td class="r2">{{ online }}$189</td>
    <td class="r4">{{ savings }}8% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="/collections/vegan-cakes/tiered-cake">order online</a></td>	 
  </tr>
  
    <tr>
    <td><div>{{ icon-veg }} 2 Tier Round (6&quot; &amp; 9&quot;)</div></td>
    <td class="r1">{{ serves }}40</td>
    <td class="r3">{{ normal }}$215</td>
    <td class="r2">{{ online }}$199</td>
    <td class="r4">{{ savings }}7% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="/collections/vegan-cakes/tiered-cake">order online</a></td>	  
  </tr>

    <tr>
    <td><div>{{ icon-veg }} 2 Tier Round (6&quot; &amp; 10&quot;)</div></td>
    <td class="r1">{{ serves }}47</td>
    <td class="r3">{{ normal }}$237</td>
    <td class="r2">{{ online }}$221</td>
    <td class="r4">{{ savings }}7% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="/collections/vegan-cakes/tiered-cake">order online</a></td>	 
  </tr>


    <tr>
   <td><div>{{ icon-veg }} 2 Tier Round (6&quot; &amp; 11&quot;)</div></td>
    <td class="r1">{{ serves }}55</td>
    <td class="r3">{{ normal }}$267</td>
    <td class="r2">{{ online }}$251</td>
    <td class="r4">{{ savings }}6% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="/collections/vegan-cakes/tiered-cake">order online</a></td>  
  </tr>

  


    <tr>
   <td><div>{{ icon-veg }} 3 Tier Round </div></td>
    <td class="r1">{{ serves }}75-110</td>
    <td class="r3">{{ normal }}$425+</td>
    <td class="r2">-</td>
    <td class="r4">-</td>
	<td class="r5"><a class="buynow" href="https://pattys-cakes.com/events">request</a></td>	
  </tr>

</table>


	
  <span class="anchor" id="ques"></span>  

  <br><br>
<h2>Cake Pricing Explained</h2>
<h3>Starting Online Price</h3><p> This pricing is available for cakes purchased on our <strong>online store only</strong>. This is the starting price, plus artwork. The pricing will be listed on each cake.</p>
<h3>Starting Regular Price</h3>
<p>Is the pricing used when placing your order via <strong>email or in-person</strong>. This is the starting price, plus artwork. </p>
<h3>What if your design is not available online?</h3><p> Then the cake will be priced at the "Regular Starting Price." Yes, even if you design is only slightly different.       
<h3>What is included?</h3> 
  <p>All cakes include a filling and a basic design for the price listed. Additional artwork or changes will increase the price.</p>
  <p>Sales tax is not collected.</p> 
 
  <h3>Need More?</h3> 
  <p>Not seeing what you are looking for? <a href="https://pattys-cakes.com/contact-us?contact=107">Send us a message</a></p>

  
	 <!-- END VEGAN -->

	</div>








































<div class="page-width info-pages">	
  
  {% liquid
  assign serves = "<span class='info'>Serves: </span>"
  assign normal = "<span class='info'>Starting Regular Price: </span>" 
  assign online = "<span class='info'>Starting Online Price: </span>" 
  assign savings = "<div><span class='info'>Savings: </span>" 
  assign savingspost = "<div class='info savetxt'> - Buy online and save! <a class='quesinfo' href='#ques'>(?)</a></div><div>"
  %}

  
<h2>Gluten-Free Cake Pricing</h2>
  <h3>Buy Online and Save up to 48%!</h3>
  <p>Select, customize, and checkout with your cake online and save!</p> 


<br>


{%- liquid 
    assign icon-veg = "<img loading='lazy' class='svg20' src='https://cdn.shopify.com/s/files/1/0024/7441/0043/files/vegan-free-logo.svg?v=1678740392' alt='Vegan Flavor' />"
    assign icon-pop = "<img loading='lazy' class='svg20'  src='https://cdn.shopify.com/s/files/1/0024/7441/0043/files/favorite-logo.svg?v=1678740392' alt='Popular Flavor'/>"
    assign icon-adv = "<img loading='lazy' class='svg20' src='https://cdn.shopify.com/s/files/1/0024/7441/0043/files/adv-logo.svg?v=1678740814' alt='Adventurous Flavor' />"
    assign icon-kid = "<img loading='lazy' class='svg20' src='https://cdn.shopify.com/s/files/1/0024/7441/0043/files/kid-friendly-logo.svg?v=1678740392' alt='kid Friendly Flavor' />"
    assign icon-gf = "<img loading='lazy' class='svg20' src='https://cdn.shopify.com/s/files/1/0024/7441/0043/files/gluten-free-logo.svg?v=1678728404' alt='Gluten-Free Flavor' />"
-%}

<h2>Gluten-Free Custom Cake Sizes and Shapes</h2>
<!-- GF FLAVORS  -->

<h3>Round Cakes</h3>	


  
<table id="tblcakes" class="ptable ptable-sizes">
  <tr>
    <th scope="col" class="txtleft">Size/Shape</th>
    <th scope="col">Serves</th>
    <th scope="col"><div>Starting Regular Price: <a class="quesinfo" href="#ques">(?)</a></div></th>
    <th scope="col"><div>Starting Online Price: <a class="quesinfo" href="#ques">(?)</a></div></th>
    <th scope="col" class="r4">Savings</th>
	  <th scope="col">Order</th>
  </tr>

  <tr>
    <td><div>{{ icon-gf}} 4&quot; Round Smash Cake (no filling) </div></td>
    <td class="r1">{{ serves }}1</td>
    <td class="r3">{{ normal }}$35</td>
    <td class="r2">{{ online }}$25</td>
    <td class="r4">{{ savings }}29% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="https://shop.pattys-cakes.com/collections/semi-custom-cakes/products/smash-cake-semi-custom">order online</a></td>
  </tr>


    <tr>
    <td><div>{{ icon-gf}} 8&quot; Round Single Layer</div></td>
    <td class="r1">{{ serves }}11</td>
    <td class="r3">{{ normal }}$63</td>
    <td class="r2">{{ online }}$49</td>
    <td class="r4">{{ savings }}22% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="/collections/gluten-free-cakes/round-single-layer">order online</a></td>	
  </tr>

    <tr>
    <td><div>{{ icon-gf}} 10&quot; Round Single Layer</div></td>
    <td class="r1">{{ serves }}16</td>
    <td class="r3">{{ normal }}$75</td>
    <td class="r2">{{ online }}$61</td>
    <td class="r4">{{ savings }}19% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="/collections/gluten-free-cakes/round-single-layer">order online</a></td>
  </tr>

    <tr>
    <td><div>{{ icon-gf}} 6&quot; Round Double Layer</div></td>
    <td class="r1">{{ serves }}12</td>
    <td class="r3">{{ normal }}$73</td>
    <td class="r2">{{ online }}$59</td>
    <td class="r4">{{ savings }}19% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="/collections/gluten-free-cakes/round-double-layer">order online</a></td>	
  </tr>

 <tr>
    <td><div>{{ icon-gf}} 8&quot; Round Double Layer</div></td>
    <td class="r1">{{ serves }}23</td>
    <td class="r3">{{ normal }}$86</td>
    <td class="r2">{{ online }}$72</td>
    <td class="r4">{{ savings }}16% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="/collections/gluten-free-cakes/round-double-layer">order online</a></td>	
  </tr>

  <tr>
    <td><div>{{ icon-gf}} 10&quot; Round Double Layer</div></td>
    <td class="r1">{{ serves }}36</td>
    <td class="r3">{{ normal }}$116</td>
    <td class="r2">{{ online }}$102</td>
    <td class="r4">{{ savings }}12% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="/collections/gluten-free-cakes/round-double-layer">order online</a></td>
  </tr>
  
</table>	
	
	
	
	
<h3>Tiered Cakes</h3>	
<table class="ptable ptable-sizes">
  <tr>
    <th scope="col" class="txtleft">Size/Shape</th>
    <th scope="col">Serves</th>
    <th scope="col"><div>Starting Regular Price: <a class="quesinfo" href="#ques">(?)</a></div></th>
    <th scope="col"><div>Starting Online Price: <a class="quesinfo" href="#ques">(?)</a></div></th>
    <th scope="col" class="r4">Savings</th>
	  <th scope="col">Order</th>
  </tr>

  <tr>
    <td><div>{{ icon-gf}} 2 Tier Round (5&quot; &amp; 8&quot;)</div></td>
    <td class="r1">{{ serves }}30</td>
    <td class="r3">{{ normal }}$198</td>
    <td class="r2">{{ online }}$182</td>
    <td class="r4">{{ savings }}8% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="/collections/gluten-free-cakes/tiered-cake">order online</a></td>	
  </tr>

  
  <tr>
    <td><div>{{ icon-gf}} 2 Tier Round (6&quot; &amp; 9&quot;)</div></td>
    <td class="r1">{{ serves }}40</td>
    <td class="r3">{{ normal }}$208</td>
    <td class="r2">{{ online }}$192</td>
    <td class="r4">{{ savings }}8% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="/collections/gluten-free-cakes/tiered-cake">order online</a></td>	
  </tr>

  <tr>
    <td><div>{{ icon-gf}} 2 Tier Round (6&quot; &amp; 10&quot;)</div></td>
    <td class="r1">{{ serves }}47</td>
    <td class="r3">{{ normal }}$224</td>
    <td class="r2">{{ online }}$208</td>
    <td class="r4">{{ savings }}7% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="/collections/gluten-free-cakes/tiered-cake">order online</a></td>	
  </tr>

  <tr>
    <td><div>{{ icon-gf}} 2 Tier Round (6&quot; &amp; 11&quot;)</div></td>
    <td class="r1">{{ serves }}55</td>
    <td class="r3">{{ normal }}$254</td>
    <td class="r2">{{ online }}$238</td>
    <td class="r4">{{ savings }}6% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="/collections/gluten-free-cakes/tiered-cake">order online</a></td>
  </tr>
  

  <tr>
    <td><div>{{ icon-gf}} 3 Tier Round </div></td>
    <td class="r1">{{ serves }}75-110</td>
    <td class="r3">{{ normal }}$400+</td>
    <td class="r2">{{ online }}-</td>
    <td class="r4">-</td>
	<td class="r5"><a class="buynow" href="https://pattys-cakes.com/events">request</a></td>
  </tr>

</table>

	
  <span class="anchor" id="ques"></span>  

  <br><br>
<h2>Cake Pricing Explained</h2>
<h3>Starting Online Price</h3><p> This pricing is available for cakes purchased on our <strong>online store only</strong>. This is the starting price, plus artwork. The pricing will be listed on each cake.</p>
<h3>Starting Regular Price</h3>
<p>Is the pricing used when placing your order via <strong>email or in-person</strong>. This is the starting price, plus artwork. </p>
<h3>What if your design is not available online?</h3><p> Then the cake will be priced at the "Regular Starting Price." Yes, even if you design is only slightly different.       
<h3>What is included?</h3> 
  <p>All cakes include a filling and a basic design for the price listed. Additional artwork or changes will increase the price.</p>
  <p>Sales tax is not collected.</p> 
 
  <h3>Need More?</h3> 
  <p>Not seeing what you are looking for? <a href="https://pattys-cakes.com/contact-us?contact=107">Send us a message</a></p>

  
	 <!-- END GF  -->

	</div>









































<div class="page-width info-pages">	
  
  {% liquid
  assign serves = "<span class='info'>Serves: </span>"
  assign normal = "<span class='info'>Starting Regular Price: </span>" 
  assign online = "<span class='info'>Starting Online Price: </span>" 
  assign savings = "<div><span class='info'>Savings: </span>" 
  assign savingspost = "<div class='info savetxt'> - Buy online and save! <a class='quesinfo' href='#ques'>(?)</a></div><div>"
  %}

<h2>Cake Pricing</h2>
  <h3>Buy Online and Save up to 48%!</h3>
  <p>Select, customize, and checkout with your cake online and save!</p> 


<br>

<h2>Custom Cake Sizes and Shapes</h2>
<!-- CLASSIC FLAVORS  -->


  
<h3>Round Cakes</h3>	
<table id="tblcakes" class="ptable ptable-sizes">
  <tr>
    <th scope="col" class="txtleft">Size/Shape</th>
    <th scope="col">Serves</th>
    <th scope="col"><div>Starting Regular Price: <a class="quesinfo" href="#ques">(?)</a></div></th>
    <th scope="col"><div>Starting Online Price: <a class="quesinfo" href="#ques">(?)</a></div></th>
    <th scope="col" class="r4">Savings</th>
	  <th scope="col">Order</th>
  </tr>
  <tr>
    <td>4&quot; Round Smash Cake (no filling) </td>
    <td class="r1">{{ serves }}1</td>
    <td class="r3">{{ normal }}$31</td>
    <td class="r2">{{ online }}$21</td>
    <td class="r4">{{ savings }}48% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="https://shop.pattys-cakes.com/collections/semi-custom-cakes/products/smash-cake-semi-custom">order online</a></td>
  </tr>
  <tr>
    <td>8&quot; Round Single Layer</td>
    <td class="r1">{{ serves }}11</td>
    <td class="r3">{{ normal }}$53</td>
    <td class="r2">{{ online }}$39</td>
    <td class="r4">{{ savings }}36% {{ savingspost }}</td>
    <td class="r5"><a class="buynow" href="https://shop.pattys-cakes.com/collections/semi-custom-cakes/round-single-layer">order online</a></td>
  </tr>  
   <tr>
    <td>10&quot; Round Single Layer</td>
    <td class="r1">{{ serves }}16</td>
    <td class="r3">{{ normal }}$65</td>
    <td class="r2">{{ online }}$51</td>
    <td class="r4">{{ savings }}27% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="https://shop.pattys-cakes.com/collections/semi-custom-cakes/round-single-layer">order online</a></td>	
  </tr>
   <tr>
    <td >6&quot; Round Double Layer</td>
    <td class="r1">{{ serves }}12</td>
    <td class="r3">{{ normal }}$63</td>
    <td class="r2">{{ online }}$49</td>
    <td class="r4">{{ savings }}29%{{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="https://shop.pattys-cakes.com/collections/semi-custom-cakes/round-double-layer">order online</a></td>
  </tr>  
   <tr>
    <td>8&quot; Round Double Layer</td>
    <td class="r1">{{ serves }}23 </td>
    <td class="r3">{{ normal }}$73 </td>
    <td class="r2">{{ online }}$59 </td>
    <td class="r4">{{ savings }}24% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="https://shop.pattys-cakes.com/collections/semi-custom-cakes/round-double-layer">order online</a></td>	
  </tr>  
 <tr>
      <td>10&quot; Round Double Layer</td>
    <td class="r1">{{ serves }}36 </td>
    <td class="r3">{{ normal }}$97 </td>
    <td class="r2">{{ online }}$83 </td>
    <td class="r4">{{ savings }}17% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="https://shop.pattys-cakes.com/collections/semi-custom-cakes/round-double-layer">order online</a></td>	
  </tr>
</table>
	
	
<h3>Sheet Cakes</h3>	
<table class="ptable ptable-sizes">
  <tr>
    <th scope="col" class="txtleft">Size/Shape</th>
    <th scope="col">Serves</th>
    <th scope="col"><div>Starting Regular Price: <a class="quesinfo" href="#ques">(?)</a></div></th>
    <th scope="col"><div>Starting Online Price: <a class="quesinfo" href="#ques">(?)</a></div></th>
    <th scope="col" class="r4">Savings</th>
	  <th scope="col">Order</th>
  </tr>



    
   <tr>
    <td>8x11 Sheet</td>
    <td class="r1">{{ serves }}20 </td>
    <td class="r3">{{ normal }}$79 </td>
    <td class="r2">{{ online }}$65 </td>
    <td class="r4">{{ savings }}22% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="https://shop.pattys-cakes.com/collections/semi-custom-cakes/sheet">order online</a></td>
  </tr>

     <tr>
    <td>Quarter Sheet</td>
    <td class="r1">{{ serves }}29 </td>
    <td class="r3">{{ normal }}$89 </td>
    <td class="r2">{{ online }}$75 </td>
    <td class="r4">{{ savings }}19% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="https://shop.pattys-cakes.com/collections/semi-custom-cakes/sheet">order online</a></td>
  </tr>

     <tr>
   <td>Third Sheet</td>
    <td class="r1">{{ serves }}37 </td>
    <td class="r3">{{ normal }}$101 </td>
    <td class="r2">{{ online }}$87 </td>
    <td class="r4">{{ savings }}16% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="https://shop.pattys-cakes.com/collections/semi-custom-cakes/sheet">order online</a></td>
  </tr>


  
   <tr>
    <td>Half Sheet</td>
    <td class="r1">{{ serves }}48 </td>
    <td class="r3">{{ normal }}$113 </td>
    <td class="r2">{{ online }}$99 </td>
    <td class="r4">{{ savings }}14% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="https://shop.pattys-cakes.com/collections/semi-custom-cakes/sheet">order online</a></td>
  </tr>

  <tr>
    <td>Two-Thirds Sheet</td>
    <td class="r1">{{ serves }}75 </td>
    <td class="r3">{{ normal }}$143 </td>
    <td class="r2">{{ online }}$129 </td>
    <td class="r4">{{ savings }}11% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="https://shop.pattys-cakes.com/collections/semi-custom-cakes/sheet">order online</a></td>	
  </tr>

  <tr>
    <td>Full Sheet</td>
    <td class="r1">{{ serves }}100 </td>
    <td class="r3">{{ normal }}$175 </td>
    <td class="r2">{{ online }}$161</td>
    <td class="r4">{{ savings }}9%{{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="https://shop.pattys-cakes.com/collections/semi-custom-cakes/sheet">order online</a></td>	 
  </tr>

</table>
	
	
<h3>Tiered Cakes</h3>	
<table class="ptable ptable-sizes">
  <tr>
    <th scope="col" class="txtleft">Size/Shape</th>
    <th scope="col">Serves</th>
    <th scope="col"><div>Starting Regular Price: <a class="quesinfo" href="#ques">(?)</a></div></th>
    <th scope="col"><div>Starting Online Price: <a class="quesinfo" href="#ques">(?)</a></div></th>
    <th scope="col" class="r4">Savings</th>
	  <th scope="col">Order</th>
  </tr>


     <tr>
    <td>2 Tier Round (5&quot; &amp; 8&quot;)</td>
    <td class="r1">{{ serves }}30</td>
    <td class="r3">{{ normal }}$175 </td>
    <td class="r2">{{ online }}$159 </td>
    <td class="r4">{{ savings }}9% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="https://shop.pattys-cakes.com/collections/tiered-cakes">order online</a></td>	
  </tr>


     <tr>
    <td>2 Tier Round (6&quot; &amp; 9&quot;)</td>
    <td class="r1">{{ serves }}40 </td>
    <td class="r3">{{ normal }}$185 </td>
    <td class="r2">{{ online }}$169 </td>
    <td class="r4">{{ savings }}9% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="https://shop.pattys-cakes.com/collections/tiered-cakes">order online</a></td>
  </tr>


     <tr>
    <td>2 Tier Round (6&quot; &amp; 10&quot;)</td>
    <td class="r1">{{ serves }}47 </td>
    <td class="r3">{{ normal }}$205 </td>
    <td class="r2">{{ online }}$189 </td>
    <td class="r4">{{ savings }}8% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="https://shop.pattys-cakes.com/collections/tiered-cakes">order online</a></td>  
  </tr>



     <tr>
    <td>2 Tier Round (6&quot; &amp; 11&quot;)</td>
    <td class="r1">{{ serves }}55 </td>
    <td class="r3">{{ normal }}$225 </td>
    <td class="r2">{{ online }}$209 </td>
    <td class="r4">{{ savings }}7% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="https://shop.pattys-cakes.com/collections/tiered-cakes">order online</a></td> 
  </tr>


     <tr>
   <td>2 Tier Round (6&quot; &amp; 12&quot;)</td>
    <td class="r1">{{ serves }}65 </td>
    <td class="r3">{{ normal }}$245 </td>
    <td class="r2">{{ online }}$229 </td>
    <td class="r4">{{ savings }}7% {{ savingspost }}</td>
	<td class="r5"><a class="buynow" href="https://shop.pattys-cakes.com/collections/tiered-cakes">order online</a></td> 
  </tr>



     <tr>
    <td>3-4-5 Tier Round and Square Cakes</td>
    <td class="r1">{{ serves }}75-500+ </td>
    <td class="r3">{{ normal }}$375+ </td>
    <td class="r2">-</td>
    <td class="r4">-</td>
	<td class="r5"><a class="buynow" href="https://pattys-cakes.com/events">request</a></td>
  </tr>

</table>

  <span class="anchor" id="ques"></span>  

  <br><br>
<h2>Cake Pricing Explained</h2>
<h3>Starting Online Price</h3><p> This pricing is available for cakes purchased on our <strong>online store only</strong>. This is the starting price, plus artwork. The pricing will be listed on each cake.</p>
<h3>Starting Regular Price</h3>
<p>Is the pricing used when placing your order via <strong>email or in-person</strong>. This is the starting price, plus artwork. </p>
<h3>What if your design is not available online?</h3><p> Then the cake will be priced at the "Regular Starting Price." Yes, even if you design is only slightly different.       
<h3>What is included?</h3> 
  <p>All cakes include a filling and a basic design for the price listed. Additional artwork or changes will increase the price.</p>
  <p>Sales tax is not collected.</p> 
 
  <h3>Need More?</h3> 
  <p>Not seeing what you are looking for? <a href="https://pattys-cakes.com/contact-us?contact=107">Send us a message</a></p>
	 <!-- END CLASSIC -->
	</div>

 